<!-- userDetail.ejs -->
<html>

<head>
    <%- include('partials/head.ejs') %>
    <title><%= user.firstName %></title>
</head>

<body class="container">
    <%- include('partials/topnav.ejs') %>
    <h1 class="text-center">User Details</h1>
    <div>
        <h2>User Information</h2>
        <p>ID: <%= user.id %></p>
        <p>Name: <%= user.firstName %> <%= user.lastName %></p>
        <p>Email: <%= user.email %></p>
        <p>DOB: <%= user.dob %></p>
        <p>Company: <%= user.company %></p>
        <p>Phone: <%= user.phone %></p>
    </div>

</body>

</html>
